body {
  font-family: "Manrope", sans-serif;
  font-size: 1em;
  background-color: #1f2039;
}

a {
  color: #242424;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

em {
  color: #a5b4fc;
  font-style: normal;
}

h1 {
  font-size: 3.5em;
  color: #a5b4fc;
  font-family: "Montserrat", sans-serif;
}

h2 {
  color: #f9f8ff;
}

p,
li {
  font-size: 1.1em;
  color: #f9f8ff;
}

.en-tete,
.pied-de-page {
  background-color: white;
}
.icone-logo:hover {
  opacity: 0.5;
}

.contact-link,
.portfolio-link {
  background: linear-gradient(#8e86b5, #acaeed);
  border-radius: 50px;
  color: white;
}
.contact-link:hover,
.portfolio-link:hover {
  background: linear-gradient(#696484, #8788ba);
  border-radius: 50px;
  color: white;
  text-decoration: none;
}

.contenu-container {
  border-right: 1px solid #8e86b5;
  border-bottom: 1px solid #8e86b5;
}
