* {
  margin: 0;
  padding: 0;
  /* color: #1b1c2b;
  color: #ece6e1; */
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 1em;
  background-color: #1b1c2b;
}
.page-container {
  max-width: 1950px;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  color: #1b1c2b;
  font-weight: 500;
  text-decoration: none;
}

em {
  color: #a5b4fc;
  font-style: normal;
}

h1 {
  font-size: 3.5em;
  color: #a5b4fc;
  font-family: "Montserrat", sans-serif;
}

h2 {
  color: #ece6e1;
}

p,
li {
  font-size: 1.1em;
  color: #ece6e1;
}

header,
footer {
  display: flex;
  justify-content: space-between;
  background-color: #ece6e1;
  padding: 20px 50px;
}
header .lien-icone,
footer .lien-icone {
  flex: 1;
}

header nav,
footer .social-media {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.cta {
  background: linear-gradient(#8e86b5, #acaeed);
  color: #ece6e1;
  border-radius: 50px;
  padding: 20px 30px;
}

a:hover {
  text-decoration: underline;
}

.cta:hover {
  background: linear-gradient(#696484, #8788ba);
  text-decoration: none;
}

.lien-icone:hover {
  opacity: 0.5;
}

.carre-contenu {
  border-right: 1px solid #8e86b5;
  border-bottom: 1px solid #8e86b5;
  padding: 50px;
}

.carre-contenu h2 {
  margin-top: 30px;
}

.carre-contenu ul {
  margin-top: 30px;
}

section {
  padding: 80px;
}

.a-propos-main {
  width: 50%;
  margin: auto;
}
.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-section-container {
  display: flex;
  flex-wrap: wrap-reverse;
  gap: 40px;
  justify-content: center;
  align-items: center;

  width: fit-content;
  background-image: linear-gradient(
      to right,
      #8e86b5 0%,
      #acaeed 15%,
      transparent 15%,
      transparent 85%,
      #acaeed 85%,
      #8e86b5 100%
    ),
    linear-gradient(
      to right,
      #8e86b5 0%,
      #acaeed 15%,
      transparent 15%,
      transparent 85%,
      #acaeed 85%,
      #8e86b5 100%
    ),
    linear-gradient(
      to bottom,
      #8e86b5 0%,
      #acaeed 20%,
      transparent 20%,
      transparent 80%,
      #acaeed 80%,
      #8e86b5 100%
    ),
    linear-gradient(
      to bottom,
      #8e86b5 0%,
      #acaeed 20%,
      transparent 20%,
      transparent 80%,
      #acaeed 80%,
      #8e86b5 100%
    );
  background-repeat: no-repeat;
  background-size: 100% 1px, 100% 1px, 1px 100%, 1px 100%;
  background-position: top, bottom, left, right;
}
.hero-section .presentation-callToAction-container,
.hero-section .portrait-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 40px;
  padding: 40px;
  justify-content: center;
  align-items: space-around;
  text-align: center;
}

.dernierProjet-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ece6e1;
}

.dernierProjet-section h2 {
  color: #1b1c2b;
  font-size: 3em;
  font-family: "Montserrat", sans-serif;
  padding: 40px;
}
.dernierProjet-photos-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1360px;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
