* {
  margin: 0;
  padding: 0;
  /* color: #1b1c2b;
  color: #ece6e1; */
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 1em;
  background-color: #1b1c2b;
}
.page-container {
  max-width: 1950px;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  color: #1b1c2b;
  font-weight: 500;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

em {
  color: #a5b4fc;
  font-style: normal;
}

h1 {
  font-size: 3.5em;
  color: #a5b4fc;
  font-family: "Montserrat", sans-serif;
}

h2 {
  color: #ece6e1;
}

p,
li {
  font-size: 1.1em;
  color: #ece6e1;
}

header nav,
footer {
  display: flex;
  justify-content: space-between;
  background-color: #ece6e1;
  padding: 20px 50px;
}
.lien-icone-container {
  flex: 1;
}

.navigation-links-container,
.social-media {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.callToAction {
  background: linear-gradient(#8e86b5, #acaeed);
  color: #ece6e1;
  border-radius: 50px;
  padding: 20px 30px;
}

.callToAction:hover {
  background: linear-gradient(#696484, #8788ba);
  text-decoration: none;
}

.lien-icone:hover {
  opacity: 0.5;
}

section {
  padding: 80px;
}
