/* 
  color: rgb(57, 68, 99); #394463;
  color: rgb(42, 48, 71); #2a3047;
  color: rgb(27, 28, 43); #1b1c2b;
  
  color: rgb(172, 174, 237); #acaeed;
  color: rgb(157, 154, 209); #9d9ad1;
  color: rgb(142, 134, 181); #8e86b5; 
  
  
  color: rgb(244, 242, 246); #f4f2f6;
  color: rgb(229, 222, 218); #e5deda ;
  color: rgb(214, 212, 190); #d6d4be ;
  
  color : rgb(180, 200, 255); #b4c8ff;
  color : rgb(165, 180, 252); #a5b4fc;
  color : rgb(150, 160, 224); #96a0e0;
   */

.carre {
  width: 80%;
  margin: auto;
  padding: 40px;
}

.carre h1 {
  text-align: center;
}

.carre-contenu {
  background-image: linear-gradient(to right, #b4c8ff, #96a0e0),
    linear-gradient(to bottom, #b4c8ff, #96a0e0);
  background-repeat: no-repeat;
  background-size: 100% 1.5px, 1.5px 100%;
  background-position: bottom right;
  padding: 40px;
}

.carre-contenu h2 {
  margin-top: 40px;
}

.carre-contenu ul {
  margin-left: 30px;
  margin-top: 20px;
}

.carre .callToAction {
  display: block;
  margin: 40px auto;
}

.tarifs-section table {
  width: 100%;
  color: #e5deda;
  border-collapse: collapse;
}

.tarifs-section caption {
  font-size: 2em;
  margin: 10px;
  font-weight: 600;
}

.tarifs-section th {
  border: 1px solid #8e86b5;
  padding: 20px;
}
.tarifs-section td {
  border: 1px solid #8e86b5;
  text-align: center;
  padding: 80px;
}
