/* 
  color: #1b1c2b;
  color: #1b1c2b;
  color: #1b1c2b;
  
  color: #ece6e1;
  color: #e5deda;
  color: #dfd7d0;
  color: #1b1c2b;
  background-color: #e5deda;
   */

header {
  background-color: #e5deda;
  padding: 40px;
}
.banner {
  width: 66%;
  margin: auto;
}
.banner .images-container {
  width: 80%;
  margin: auto;
  padding: 40px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  object-fit: cover;

  /* background-image: linear-gradient(to bottom right, #4c4e71, #1c1e41);
  background-repeat: no-repeat;
  background-size: 66% 80%;
  background-position: bottom right; */
  background-image: linear-gradient(
      to right,
      #8e86b5 0%,
      #acaeed 15%,
      transparent 15%,
      transparent 85%,
      #acaeed 85%,
      #8e86b5 100%
    ),
    linear-gradient(
      to right,
      #8e86b5 0%,
      #acaeed 15%,
      transparent 15%,
      transparent 85%,
      #acaeed 85%,
      #8e86b5 100%
    ),
    linear-gradient(
      to bottom,
      #8e86b5 0%,
      #acaeed 20%,
      transparent 20%,
      transparent 80%,
      #acaeed 80%,
      #8e86b5 100%
    ),
    linear-gradient(
      to bottom,
      #8e86b5 0%,
      #acaeed 20%,
      transparent 20%,
      transparent 80%,
      #acaeed 80%,
      #8e86b5 100%
    );
  background-repeat: no-repeat;
  background-size: 100% 1px, 100% 1px, 1px 100%, 1px 100%;
  background-position: top, bottom, left, right;
}
.images-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carre {
  width: 80%;
  margin: auto;
  padding: 40px;
}

.carre-contenu {
  background-image: linear-gradient(to right, #acaeed, #8e86b5),
    linear-gradient(to bottom, #acaeed, #8e86b5);
  background-repeat: no-repeat;
  background-size: 33% 1.5px, 1.5px 33%;
  background-position: bottom right;
  padding: 50px;
}

.carre-contenu h2 {
  margin-top: 30px;
}

.carre-contenu ul {
  margin-left: 30px;
  margin-top: 30px;
}

.carre .callToAction {
  display: block;
  margin: 40px auto;
}

.tarifs-section {
  margin: auto;
  color: #1b1c2b;
  background-color: #e5deda;
}

.tarifs-section table {
  margin: auto;
  border-collapse: collapse;
}

.tarifs-section caption {
  font-size: 2em;
  margin: 10px;
  font-weight: 600;
}

.tarifs-section th {
  background-color: #acaeed;
  padding: 20px;
}
.tarifs-section td {
  border: 1px solid #acaeed;

  padding: 40px;
}
