/* 
  color: rgb(57, 68, 99); #394463;
  color: rgb(42, 48, 71); #2a3047;
  color: rgb(27, 28, 43); #1b1c2b;
  
  color: rgb(172, 174, 237); #acaeed;
  color: rgb(157, 154, 209); #9d9ad1;
  color: rgb(142, 134, 181); #8e86b5; 
  
  
  color: rgb(244, 242, 246); #f4f2f6;
  color: rgb(229, 222, 218); #e5deda ;
  color: rgb(214, 212, 190); #d6d4be ;
  
  color : rgb(180, 200, 255); #b4c8ff;
  color : rgb(165, 180, 252); #a5b4fc;
  color : rgb(150, 160, 224); #96a0e0;
   */

.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-section-container {
  display: flex;
  flex-wrap: wrap-reverse;
  gap: 40px;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
      to right,
      #96a0e0 0%,
      #b4c8ff 3%,
      transparent 3%,
      transparent 97%,
      #b4c8ff 97%,
      #96a0e0 100%
    ),
    linear-gradient(
      to right,
      #96a0e0 0%,
      #b4c8ff 3%,
      transparent 3%,
      transparent 97%,
      #b4c8ff 97%,
      #96a0e0 100%
    ),
    linear-gradient(
      to bottom,
      #96a0e0 0%,
      #b4c8ff 3%,
      transparent 3%,
      transparent 97%,
      #b4c8ff 97%,
      #96a0e0 100%
    ),
    linear-gradient(
      to bottom,
      #96a0e0 0%,
      #b4c8ff 3%,
      transparent 3%,
      transparent 97%,
      #b4c8ff 97%,
      #96a0e0 100%
    );
  background-repeat: no-repeat;
  background-size: 100% 1px, 100% 1px, 1px 100%, 1px 100%;
  background-position: top, bottom, left, right;
}

.hero-section-container .presentation-callToAction-container,
.hero-section-container .portrait-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px;
  align-items: center;
  text-align: center;
}

.dernierProjet-section {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  background-image: linear-gradient(to top right, #e5deda, #dfd7d0);
}

.dernierProjet-section h2 {
  color: #1b1c2b;
  font-size: 3em;
  font-family: "Montserrat", sans-serif;
}
.dernierProjet-photos-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1360px;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
