/* 
  color: rgb(57, 68, 99); #394463;
  color: rgb(42, 48, 71); #2a3047;
  color: rgb(27, 28, 43); #1b1c2b;
  
  color: rgb(172, 174, 237); #acaeed;
  color: rgb(157, 154, 209); #9d9ad1;
  color: rgb(142, 134, 181); #8e86b5; 
  
  
  color: rgb(244, 242, 246); #f4f2f6;
  color: rgb(229, 222, 218); #e5deda ;
  color: rgb(214, 212, 190); #d6d4be ;
  
  color : rgb(180, 200, 255); #b4c8ff;
  color : rgb(165, 180, 252); #a5b4fc;
  color : rgb(150, 160, 224); #96a0e0;
   */

.portfolio-section-photos {
  background-image: linear-gradient(to top right, #e5deda, #dfd7d0);
}
.portfolio-section-photos h2 {
  color: #1b1c2b;
  font-size: 2em;
  margin: 80px 0px 20px 0px;
  padding: 4px 0px;
  background-image: linear-gradient(to right, #1b1c2b, #acaeed);
  background-repeat: no-repeat;
  background-size: 10% 1.5px;
  background-position: bottom left;
}

.grid-paysages {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 300px);
  gap: 15px;
}

.grid-portraits {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 300px);
  gap: 15px;
}

.grid-paysages img,
.grid-portraits img {
  width: 100%;
  height: 100%;
  /* Même si vous ne connaissez pas cette
propriété, vous en aurez besoin pour permettre aux images de respecter les
dimensions de la grid CSS */
  object-fit: cover;
}
